<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food API List </title>
</head>

<body>
    <h1 style="background-color: blue; text-align: center;">Backend API list || Developed by Md.Tajal Islam</h1>
    <h3 style="text-align: center;">Company Name: Manush AI Technology</h3>
    <hr>
    <p style="text-align: center;"><i>Module Name:</i><b>Users</b></p>
    <hr style="height: 6px; background-color: aqua;">


</body>

</html>